// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}

.main {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
}


.item-list {
  display: table;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

.item-list-heading {
  display: table-header-group;
  vertical-align: middle;
}

tr {
  display: table-row;
}

.item {
  display: table-row-group;
  vertical-align: middle;
}

.field {
  margin-bottom: 10px;
  display: block;
}

.form {
  display: block;
}

.createbook_btn {
  display: block;
  text-align: left;
  padding: 1px 6px;
  border-width: 2px;
}